{{#each plans}}
  <div class="row justify-content-center">
    <div class="card col col-lg-8 ms">

      <div class="card-body">
        <div class="row">
          <div class="col col-lg-8">
            <h5 class="card-title">{{this.nickname}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
               <span class="amount-usd bold" data-amount="{{this.amount}}"></span>
               per {{this.interval}}
            </h6>
            <p class="card-text">
              Pay an additional <span class="amount-usd" data-amount="{{this.variable.amount}}"></span>
              per unit used
            </p>
          </div>
          <div class="col col-lg-4">

            <!-- new Checkout.js -->
            <!-- <button id="checkout-button" class="btn btn-primary btn-sm pull-right mts" role="link">Subscribe (Checkout)</button>
            <div id="error-message"></div> -->

            <!-- check if subscription exists -->
            {{#if ../subscription}}
              {{#if_not_equals ../currentPlanId this.id}}
                <a class="btn btn-primary btn-md pull-right mts" style="min-width: 250px; white-space: nowrap;" href="/subscription/update-subscription/{{this.id}}/{{../subscription.id}}">Change to {{this.nickname}}</a>
              {{/if_not_equals}}
              {{#if_equals ../currentPlanId this.id}}
                <span class="badge badge-success pull-right">Current Plan</span>
              {{/if_equals}}
            {{else}}
              <!-- old Checkout -->
              {{#if_equals ../config.checkout "checkoutOld"}}
                <form class="pull-right" action="/subscription/subscribe" method="POST">
                  <input type="hidden" name="basePlanId" value="{{this.id}}">
                  <input type="hidden" name="variablePlanId" value="{{this.variable.id}}">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_iDllARnAoSpxhZPgitRSWrhq00ZuDEg41i"
                    data-name="{{this.nickname}}"
                    data-label="Subscribe to {{this.nickname}}"
                    data-panel-label="Select the {{this.nickname}} plan"
                    data-description=""
                    data-locale="auto">
                  </script>
                </form>
              {{/if_equals}}

              <!-- redirect to Subscribe w/Elements page -->
              {{#if_equals ../config.checkout "custom"}}
                <a class="btn btn-primary btn-md pull-right mts" style="min-width: 250px; white-space: nowrap;" href="/subscription/create-subscription/{{this.id}}">Subscribe to {{this.nickname}}</a>
              {{/if_equals}}
            {{/if}}
          </div>
        </div>
      </div>

    </div>
  </div>
{{/each}}
