<div class="card card-body mbm" id="infoCard">
  <div class="row">
    <div class="col-12">
      <h5 class="mbm">About {{info.companyName}}</h5>
      <div id="company-description" data-desc="{{info.description}}"></div>
      <a id="morelesstext" href="#">Read More</a>
      <hr>

      {{#if info.website}}
        <div class="row">
          <div class="col-4">
            Website
          </div>
          <div class="col-8 overflow">
            <div class="pull-right">
              <a href="{{info.website}}">{{info.website}}</a>
            </div>
          </div>
        </div>
        <hr>
      {{/if}}

      {{#if info.CEO}}
        <div class="row">
          <div class="col-4">
            CEO
          </div>
          <div class="col-8 overflow pull-right">
            <span class="bold">{{info.CEO}}</span>
          </div>
        </div>
        <hr>
      {{/if}}

      {{#if info.state}}
        <div class="row">
          <div class="col-4">
            HQ
          </div>
          <div class="col-8 overflow pull-right">
            <span class="bold">{{info.city}}, {{info.state}}</span>
          </div>
        </div>
        <hr>
      {{/if}}

      {{#if info.sector}}
        <div class="row">
          <div class="col-4">
            Sector
          </div>
          <div class="col-8 overflow pull-right">
            <span class="bold">{{info.sector}}</span>
          </div>
        </div>
        <hr>
      {{/if}}

      {{#if info.employees}}
        <!-- <div>
          Employees
          <span class="pull-right bold employees" data="{{info.employees}}"></span>
        </div>
        <hr> -->
      {{/if}}

    </div>
  </div>
</div>
