<div class="card card-body mb20" id="infoCard">
  <div class="row">
    <div class="col-12">
      <h5 class="mbm">About {{stock.companyInfo.companyName}}</h5>
      <div id="company-description" data-desc="{{stock.companyInfo.description}}"></div>
      <a id="morelesstext" href="#">Read More</a>
      <hr>

      {{#if stock.companyInfo.website}}
        <div class="row">
          <div class="col-4">
            Website
          </div>
          <div class="col-8 overflow">
            <div class="pull-right">
              <a href="{{stock.companyInfo.website}}">{{stock.companyInfo.website}}</a>
            </div>
          </div>
        </div>
        <hr>
      {{/if}}

      {{#if stock.companyInfo.CEO}}
        <div class="row">
          <div class="col-4">
            CEO
          </div>
          <div class="col-8 overflow">
            <div class="pull-right">
              <span class="bold">{{stock.companyInfo.CEO}}</span>
            </div>
          </div>
        </div>
        <hr>
      {{/if}}

      {{#if stock.companyInfo.state}}
        <div class="row">
          <div class="col-4">
            HQ
          </div>
          <div class="col-8 overflow">
            <div class="pull-right">
              <span class="bold">{{stock.companyInfo.city}}, {{stock.companyInfo.state}}</span>
            </div>
          </div>
        </div>
        <hr>
      {{/if}}

      {{#if stock.companyInfo.sector}}
        <div class="row">
          <div class="col-4">
            Sector
          </div>
          <div class="col-8 overflow">
            <div class="pull-right">
              <span class="bold">{{stock.companyInfo.sector}}</span>
            </div>
          </div>
        </div>
        <hr>
      {{/if}}

      {{#if stock.companyInfo.employees}}
        <!-- <div>
          Employees
          <span class="pull-right bold employees" data="{{stock.companyInfo.employees}}"></span>
        </div>
        <hr> -->
      {{/if}}

    </div>
  </div>
</div>
