<div class="card mtm">
  <div class="card-body">
    <h5 class="mb20">News</h5>

    {{#each news}}
      <div class="row mbs">
        <div class="col-md-8">
          <a href="{{this.url}}">{{this.headline}}</a>
          <div class="text-muted news">
            {{this.summary}}
          </div>
        </div>
        <div class="col-md-4">
          <div class="pull-right">
            {{this.source}}
          </div>
          <br>
          <div class="pull-right">
            <div class="text-muted">
              <span class="news-date" data-date="{{this.datetime}}"></span>
            </div>
          </div>
        </div>
      </div>
      <hr>
    {{/each}}
  </div>
</div>
