<div class="card mb20">
  <div class="card-body">
    <h5 class="mb20">News</h5>

    {{#each stock.news}}
      <div class="row mbs">
        <div class="col-md-4">
          <img class="news-image" src="{{this.image}}" alt="">
        </div>
        <div class="col-md-8">
          <div class="text-muted" style="font-size: 11px">
            <span class="news-date" data-date="{{this.datetime}}"></span> | {{this.source}}
          </div>
          <a href="{{this.url}}">
            {{this.headline}}
            <div class="text-muted news">
              {{this.summary}}
            </div>
          </a>
        </div>
      </div>
      <hr>
    {{/each}}
  </div>
</div>
