<div class="card card-body mb20">
  <div class="row mbs">
    <div class="col-8 overflow">
      <h3>{{quote.symbol}}</h3>
      <span>{{quote.companyName}}</span>
    </div>
    <div class="col-4">
      <img src="{{logoUrl}}" height=50px alt="" class="pull-right logo">
    </div>
    {{#if user}}
      <div class="col-12" style="margin-top: .5rem">
        {{#if_in_list quote.symbol user.watchlist}}
          <a href="/watchlist/remove/{{quote.symbol}}"><span class="watchlist"><i class="fas fa-star "></i> remove from watchlist</span></a>
        {{else}}
          <a href="/watchlist/add/{{quote.symbol}}"><span class="watchlist"><i class="far fa-star"></i> add to watchlist</span></a>
        {{/if_in_list}}
      </div>
    {{/if}}
  </div>
  <hr>

  <div class="row">
    <div class="col-md-12 mbm">
      <h4>
        <span class="price" data-price="{{quote.latestPrice}}"></span>
        <span class="daily-change" style="font-size: 80%"
          change="{{quote.dailyChange.change}}"
          change-percent="{{quote.dailyChange.changePercent}}">
        </span>
      </h4>
      <div class="text-muted">updated <span class="date" data-date="{{quote.latestUpdate}}"></span></div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div>
        52 Week Range <span class="pull-right bold">{{quote.week52Low}} - {{quote.week52High}}</span>
      </div>
      <hr>

      <div class="">
        Market Cap
        {{#if quote.marketCap}}
          <span class="pull-right bold market-cap" data-market-cap="{{quote.marketCap}}"></span>
        {{else}}
          <span class="pull-right bold">NA</span>
        {{/if}}
      </div>
      <hr>

      <div class="">
        PE Ratio
        {{#if quote.peRatio}}
          <span class="pull-right bold">{{quote.peRatio}}</span>
        {{else}}
          <span class="pull-right bold">NA</span>
        {{/if}}
      </div>
      <hr>

    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="">
        Earnings Date
        {{#if keyStats.nextEarningsDate}}
          <span class="pull-right bold earnings-date" data-date="{{keyStats.nextEarningsDate}}"></span>
        {{else}}
          <span class="pull-right bold">NA</span>
        {{/if}}
      </div>
      <hr>

      <div class="">
        EPS (ttm)
        {{#if keyStats.ttmEPS}}
          <span class="pull-right bold two-deciamals" data="{{keyStats.ttmEPS}}"></span>
        {{else}}
          <span class="pull-right bold">NA</span>
        {{/if}}
      </div>
      <hr>

      <div class="">
        Dividend Yield
        {{#if keyStats.dividendYield}}
          <span class="pull-right bold yield" data="{{keyStats.dividendYield}}"></span>
        {{else}}
          <span class="pull-right bold">NA</span>
        {{/if}}
      </div>
      <hr>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="">
        Employees
        {{#if keyStats.employees}}
          <span class="pull-right bold employees" data="{{keyStats.employees}}"></span>
        {{else}}
          <span class="pull-right bold">NA</span>
        {{/if}}
      </div>
      <hr>

      <div class="">
        5 Year Price Change
        {{#if keyStats.ytdChangePercent}}
          <span class="pull-right bold percentage" data="{{keyStats.year5ChangePercent}}"></span>
        {{else}}
          <span class="pull-right bold">NA</span>
        {{/if}}
      </div>
      <hr>

      <div class="">
        YTD Price Change
        {{#if keyStats.ytdChangePercent}}
          <span class="pull-right bold percentage" data="{{keyStats.ytdChangePercent}}"></span>
        {{else}}
          <span class="pull-right bold">NA</span>
        {{/if}}
      </div>
      <hr>
    </div>
  </div>
</div>
