{{#> base }}

{{#*inline "content-block"}}

<div class="container">
  <h4 class="text-center mtm">Welcome, {{user.username}}</h4>
  <hr>

  {{> flash_message }}

  <div class="row">

    <!-- list customer's current subscription if one exists -->
    <div class="col col-md-8">
      {{#if subscription}}
        {{#each subscription.items.data}}
          {{#if_equals this.plan.usage_type "licensed"}}
            <div class="card-text"><strong>Plan:</strong> {{this.plan.nickname}},
              <span class="amount-usd" data-amount="{{this.plan.amount}}"></span> per {{this.plan.interval}}
            </div>
          {{/if_equals}}
          {{#if_equals this.plan.usage_type "metered"}}
            <div class="">
              <span class="amount-usd" data-amount="{{this.plan.amount}}"></span> per GB
            </div>
          {{/if_equals}}
        {{/each}}
        <a href="/subscription" class="card-link">View Subscription</a>
      {{else}}
        <p>You are currently not subscribed to a plan</p>
        <a class="btn btn-primary" data-loading="Select a Plan..." href="/subscription" disabled=true>Select a Plan</a>
      {{/if}}
    </div>


    <!-- list current plan usage -->
    <div class="col col-md-4">
      {{#if subscription}}
        <div class="card">
          <div class="container mts mbs">
            <!-- list trial if exists -->
            {{#if_equals subscription.status "trialing"}}
              <div class="row">
                <div class="col col-md-12 text-center">
                  <span class="badge badge-warning mbs text-center">Free trial ends on <span class="short-date bold" data-date="{{subscription.trial_end}}"></span></span>
                </div>
              </div>
            {{/if_equals}}

            <h5>Current Period Usage</h5>

            {{#each upcomingInvoice.lines.data}}
              {{#if_equals this.plan.usage_type "metered"}}
                <div><strong>Usage:</strong> {{this.quantity}} GB(s)</div>
              {{/if_equals}}
            {{/each}}
            <div><strong>Period End Date: </strong><span class="short-date" data-date="{{upcomingInvoice.period_end}}"></span></div>
            <div><strong>Amount Due: </strong> <span class="amount-usd" data-amount="{{upcomingInvoice.amount_due}}"></span></div>
          </div>
        </div>
      {{/if}}
    </div>

    <div class="col col-md-12">
        {{#if subscription}}
          <h5 class="text-center">Simulate using data</h5>
          <div class="row justify-content-center">
            <a class="btn btn-success ms" href="{{#if subscription}}/dashboard/use/{{subscriptionItemId}}/1{{/if}}" data-loading="Using 1 GB...">Use 1 GB</a>
            <a class="btn btn-success ms" href="{{#if subscription}}/dashboard/use/{{subscriptionItemId}}/5{{/if}}" data-loading="Using 5 GBs...">Use 5 GBs</a>
            <a class="btn btn-success ms" href="{{#if subscription}}/dashboard/use/{{subscriptionItemId}}/10{{/if}}" data-loading="Using 10 GBs...">Use 10 GBs</a>
          </div>
        {{/if}}
    </div>

  </div>
</div>

{{/inline}}

{{/base}}
