{{#> base }}

{{#*inline "content-block"}}
  <div class="container mtm">
    <div class="row d-flex justify-content-center">
      <div class="tab-content col-md-12">
        {{> flash_message }}

        <!-- <div class="row">
          <div class="col-md-12">
            <form class="form-inline pull-right">
              <div class="form-group mb-2 mx-sm-3">
                <input type="text" class="form-control" id="symbol" name="symbol" placeholder="BOX, CRM, TEAM, etc.">
              </div>
              <button type="submit" class="btn btn-primary mb-2" data-loading="Searching...">Search</button>
            </form>
          </div>
        </div> -->

        <div class="tab-pane show active" id="login" role="tabpanel" aria-labelledby="login">

          <!-- general stock info -->
          <div class="card">
            <!-- <div class="card-header">
              <h4 class="text-center">Stock Info</h4>
            </div> -->
            <div class="card-body">
              <div class="row mbs">
                <div class="col col-md-6">
                  <h3>{{info.symbol}} <span style="font-size: 70%">{{info.companyName}}</span></h3>
                </div>
                <div class="col col-md-6">
                  <img src="{{logoUrl}}" height=50px alt="" class="pull-right">
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-md-12 mbm">
                  <h4>
                    <span class="price" data-price="{{info.latestPrice}}"></span>
                    <span class="daily-change" style="font-size: 80%"
                      change="{{info.dailyChange.change}}"
                      change-percent="{{info.dailyChange.changePercent}}">
                    </span>
                  </h4>
                  <div class="text-muted">updated <span class="date" data-date="{{info.latestUpdate}}"></span></div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <div>
                    52 Week Range <span class="pull-right bold">{{info.week52Low}} - {{info.week52High}}</span>
                  </div>
                  <hr>

                  <div class="">
                    Market Cap
                    {{#if info.marketCap}}
                      <span class="pull-right bold market-cap" data-market-cap="{{info.marketCap}}"></span>
                    {{else}}
                      <span class="pull-right bold">NA</span>
                    {{/if}}
                  </div>
                  <hr>

                  <div class="">
                    PE Ratio
                    {{#if info.peRatio}}
                      <span class="pull-right bold">{{info.peRatio}}</span>
                    {{else}}
                      <span class="pull-right bold">NA</span>
                    {{/if}}
                  </div>
                  <!-- <hr> -->

                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <div class="">
                    Earnings Date
                    {{#if keyStats.nextEarningsDate}}
                      <span class="pull-right bold earnings-date" data-date="{{keyStats.nextEarningsDate}}"></span>
                    {{else}}
                      <span class="pull-right bold">NA</span>
                    {{/if}}
                  </div>
                  <hr>

                  <div class="">
                    EPS (ttm)
                    {{#if keyStats.ttmEPS}}
                      <span class="pull-right bold two-deciamals" data="{{keyStats.ttmEPS}}"></span>
                    {{else}}
                      <span class="pull-right bold">NA</span>
                    {{/if}}
                  </div>
                  <hr>

                  <div class="">
                    Dividend Yield
                    {{#if keyStats.dividendYield}}
                      <span class="pull-right bold percentage" data="{{keyStats.dividendYield}}"></span>
                    {{else}}
                      <span class="pull-right bold">NA</span>
                    {{/if}}
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <div class="">
                    Employees
                    {{#if keyStats.employees}}
                      <span class="pull-right bold employees" data="{{keyStats.employees}}"></span>
                    {{else}}
                      <span class="pull-right bold">NA</span>
                    {{/if}}
                  </div>
                  <hr>

                  <div class="">
                    5 Year Price Change
                    {{#if keyStats.ytdChangePercent}}
                      <span class="pull-right bold percentage" data="{{keyStats.year5ChangePercent}}"></span>
                    {{else}}
                      <span class="pull-right bold">NA</span>
                    {{/if}}
                  </div>
                  <hr>

                  <div class="">
                    YTD Price Change
                    {{#if keyStats.ytdChangePercent}}
                      <span class="pull-right bold percentage" data="{{keyStats.ytdChangePercent}}"></span>
                    {{else}}
                      <span class="pull-right bold">NA</span>
                    {{/if}}
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row mtm">
            <div class="col-md-8">

              <!-- Historical Stock Performance -->
              <div class="card">
                <div class="card-body">
                  <div class="row mbm">
                    <div class="col-md-6">
                      <h5>Historical Performance</h5>
                    </div>
                    <div class="col-md-6">
                      <nav class="nav pull-right">
                        <!-- <span class="nav-link range" onclick="updateDateRange(this,'1m')">1M</span> -->
                        <span class="nav-link range" onclick="updateDateRange(this,'6m')">6M</span>
                        <span class="nav-link range" onclick="updateDateRange(this,'ytd')">YTD</span>
                        <span class="nav-link range active" onclick="updateDateRange(this,'1y')">1Y</span>
                        <span class="nav-link range" onclick="updateDateRange(this,'5y')">5Y</span>
                        <!-- <span class="nav-link range" onclick="updateDateRange(this,'max')">All Time</span> -->
                      </nav>
                    </div>
                  </div>

                  <!-- stock chart partial -->
                  {{> stock_chart}}
                </div>
              </div>

              <!-- Company News -->
              <div class="card mtm">
                <div class="card-body">
                  <h5 class="mbm">News</h5>

                  {{#each news}}
                    <div class="row mbs">
                      <div class="col-md-8">
                        <a href="{{this.url}}">{{this.headline}}</a>
                        <div class="text-muted news">
                          {{this.summary}}
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="pull-right">
                          {{this.source}}
                        </div>
                        <br>
                        <div class="pull-right">
                          <div class="text-muted">
                            <span class="news-date" data-date="{{this.datetime}}"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                  {{/each}}
                </div>
              </div>
            </div>

            <!-- Financials -->
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <div class="row mbm">
                    <div class="col-md-5">
                      <h5>Financials</h5>
                    </div>
                    <div class="col-md-7">
                      <nav class="nav pull-right">
                        <span class="nav-link financials range active" onclick="updateFinancialsRange(this,'quarterly')">Quarterly</span>
                        <span class="nav-link financials range" onclick="updateFinancialsRange(this,'annual')">Annual</span>
                      </nav>
                    </div>
                  </div>

                  <!-- add financials chart -->
                  {{> income_chart}}
                </div>
              </div>

              <!-- Earnings -->
              <div class="card mtm">
                <div class="card-body">
                  <div class="row mbm">
                    <div class="col-md-5">
                      <h5>Earnings</h5>
                    </div>
                  </div>

                  <!-- add earnings chart -->
                  {{> earnings_chart}}
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

{{/inline}}

{{/base}}
