{{#> base }}

{{#*inline "content-block"}}
  <div class="container mtm">
    <div class="row d-flex justify-content-center">
      <div class="tab-content col-md-12">
        {{> flash_message }}

        <div class="row">
          <div class="col col-md-4">
            <h4>Result for "{{info.symbol}}"</h4>
          </div>
          <div class="col col-md-8">
            <form class="form-inline pull-right">
              <div class="form-group mb-2 mx-sm-3">
                <label for="symbol" class="sr-only">Email</label>
                <input type="text" class="form-control" id="symbol" name="symbol" placeholder="BOX, CRM, TEAM, etc.">
              </div>
              <button type="submit" class="btn btn-primary mb-2" data-loading="Searching...">Search</button>
            </form>
          </div>
        </div>

        <div class="tab-pane show active mtm" id="login" role="tabpanel" aria-labelledby="login">

          <!-- general stock info -->
          <div class="card">
            <!-- <div class="card-header">
              <h4 class="text-center">Stock Info</h4>
            </div> -->
            <div class="card-body">
              <div class="mbm">
                <img src="{{logoUrl}}" height=50px alt="" class="pull-right">
                <h5>{{info.companyName}}</h5>
              </div>

              <hr>

              <div class="">
                Current Price: ${{info.latestPrice}}
              </div>
              <div class="">
                Daily Change:
                <span class="badge daily-change"
                  change="{{info.dailyChange.change}}"
                  change-percent="{{info.dailyChange.changePercent}}">
                </span>
              </div>
              <div class="">
                52 Week High: ${{info.week52High}}
              </div>
              <div class="">
                52 Week Low: ${{info.week52Low}}
              </div>
            </div>
          </div>

          <!-- Historical Stock Performance -->
          <div class="card mtm">
            <!-- <div class="card-header">
              <h4 class="text-center">Stock Info</h4>
            </div> -->
            <div class="card-body">
              <h5>Historical Performance</h5>

              <!-- stock chart partial -->
              {{> stock_chart}}
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

{{/inline}}

{{/base}}
