{{#> base }}

{{#*inline "content-block"}}
  <div class="container mtm">
    <div class="row d-flex justify-content-center">

      <div class="col-md-6">
        {{> flash_message }}

        <h4 class="text-center">Search by symbol or company name</h4>

        <!-- search -->
        <form action="/search" method="get" class="mt-4">
          <div class="input-group mb-3">
            <input type="text" autocomplete="off" class="form-control" id="stockInput" name="symbol" placeholder="BOX, SQ, Disney, etc.">
            <div class="dropdown-menu col-md-12" id="filteredResultsContainer">
              <div id="filteredResults"></div>
            </div>
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit" data-loading="Searching...">Search</button>
            </div>
          </div>
        </form>

      </div>

      <!-- watchlist -->
      <div class="col-md-8">
        <div class="card mtm">
          <div class="card-body">
            <h4>Watchlist</h4>
            <hr>
            {{#if user}}
              {{#each user.watchlist}}
                {{this.symbol}}
              {{/each}}
              {{#if user.watchlist}}
                {{#each user.watchlist}}
                  <div class="card mvs">
                    <div class="card-body">
                      <a href="/search?symbol={{this}}"><h5 class="card-title">{{this}}</h5></a>
                    </div>
                  </div>
                {{/each}}
              {{else}}
                does not exist, add some TODO
              {{/if}}
            {{else}}
              <a href="/auth/google">Login with Google</a> to create a watchlist
            {{/if}}
          </div>
        </div>

      </div>

    </div>
  </div>

{{/inline}}

{{/base}}
