{{#> base }}

{{#*inline "content-block"}}

<div class="mtm container">
  <h4 class="mtm">Subscription and payment</h4>
  <hr>

  {{> flash_message }}

  <!-- Display active subscription if one exists -->
  {{#if subscription}}
    <div class="row justify-content-center">
      <div class="card col col-md-8">
        <h5 class="text-center mts text-center">Your Subscription</h5>

        <!-- list out plan details -->
        {{#each subscription.items.data}}
          {{#if_equals this.plan.usage_type "licensed"}}
            <div class="card-text"><strong>Plan:</strong> {{this.plan.nickname}},
              <span class="amount-usd" data-amount="{{this.plan.amount}}"></span> per {{this.plan.interval}}
            </div>
          {{/if_equals}}
          {{#if_equals this.plan.usage_type "metered"}}
            <div class="">
              <span class="amount-usd" data-amount="{{this.plan.amount}}"></span> per unit used
            </div>
          {{/if_equals}}
        {{/each}}

        <!-- list usage data -->
        {{#each upcomingInvoice.lines.data}}
          {{#if_equals this.plan.usage_type "metered"}}
            <div><strong>Period Usage:</strong> {{this.quantity}} Units
              <a class="" href="/dashboard">Simulate usage</a>
            </div>
          {{/if_equals}}
        {{/each}}

        <div class="card-text">
          <strong>
            Billing Cycle:
          </strong>
          You will be billed
          <span class="amount-usd bold" data-amount="{{upcomingInvoice.amount_due}}"></span> on
          <span class="date bold" data-date="{{upcomingInvoice.period_end}}"></span>
        </div>
        <div class="card-text"><strong>Payment Method:</strong>
          <object data="/img/cards/test.svg" style="margin-bottom: -4px" height="20px"  type="image/svg+xml">
            <img src="/img/cards/discover.svg"  style="margin-bottom: 4px" height="20px" />
          </object> ••••{{defaultCard.last4}}
          <a class="" href="/subscription/update-payment">Update payment method</a>
        </div>
        <!-- cancel subscription -->
        <form action="/subscription/cancel-subscription" class="mts text-center mbs" method="post">
          <input type="hidden" name="subscription" value="{{subscription.id}}">
          <button class="btn btn-danger" type="submit" name="button">Cancel Subscription</button>
        </form>
      </div>
    </div>
  {{else}}
    <p>You are currently not subscribed to a plan. Select a plan below.</p>
  {{/if}}

  <!-- list available plans -->
  <h5 class="mtm text-center">Plans</h5>
  <!-- list plans partial -->
  {{> list_plans}}

  <!-- List previous purchases -->
  <h5 class="text-center mtm">Payment History</h5>
    {{#if invoices}}
    <div class="row justify-content-center">
      <div class="card col col-lg-8">
        <table class="table">
      		<thead>
      			<tr>
              <th scope="col">Payment Date</th>
              <th scope="col">Amount</th>
      				<th scope="col">Description</th>
      			</tr>
      		</thead>
      		<tbody id="cart-item">
      			{{#each invoices}}
      				<tr>
      					<td>
                  <span class="date" data-date="{{this.created}}"></span>
                </td>
                <td>
                  <span class="amount-usd" data-amount="{{this.amount}}"></span>
                </td>
      					<td>
                  <a target="_blank" href="{{this.receipt_url}}">
                    {{this.description}}
                  </a>
                </td>
      				</tr>
      			{{/each}}
      		</tbody>
      	</table>
      </div>
    </div>
  {{else}}
    <div class="row justify-content-center">
      <div class="col col-lg-8 mbm">
        You have no payment history
      </div>
    </div>
  {{/if}}
</div>


<!-- to be used for new checkout -->
<script>
  var stripe = Stripe('{{stripePublishableKey}}', {
    betas: ['checkout_beta_4']
  });

  var checkoutButton = document.getElementById('checkout-button');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{plan: 'plan_EdJHMnuhJWa4Jh', quantity: 1}],
      customerEmail: '{{user.username}}',
      successUrl: 'http://localhost:3000/subscription',
      cancelUrl: 'https://your-website.com/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>


{{/inline}}

{{/base}}
