{{#> base }}

{{#*inline "content-block"}}

<div class="mtm container">
  <h4 class="mtm">Subscription and payment</h4>
  <hr>

  {{> flash_message }}

  <!-- Display active subscription if one exists -->
  {{#if subscription}}
    <div class="row justify-content-center">
      <div class="card col col-md-8">
        <h5 class="text-center mts text-center">Your Subscription</h5>

        <div class="card-text"><strong>Plan:</strong> {{subscription.plan.nickname}}</div>
        <div class="card-text"><strong>Price:</strong>
          <span class="amount-usd" data-amount="{{subscription.plan.amount}}"></span> per
          {{#if_equals subscription.plan.usage_type "licensed"}}
            {{subscription.plan.interval}}
          {{/if_equals}}
          {{#if_equals subscription.plan.usage_type "metered"}}
            unit
          {{/if_equals}}
        </div>
        {{#if_equals subscription.plan.usage_type "metered"}}
          <div><strong>Period Usage:</strong> {{lineItems.quantity}} Units</div>
          <div><strong>Amount Owed: </strong> <span class="amount-usd" data-amount="{{lineItems.amount}}"></span></div>
        {{/if_equals}}
        <div class="card-text"><strong>Start Date:</strong> <span class="date" data-date="{{subscription.start}}"></span></div>
        <div class="card-text">
          <strong>
            {{#if_equals subscription.plan.usage_type "licensed"}}
              Auto-Renewal Date:
            {{/if_equals}}
            {{#if_equals subscription.plan.usage_type "metered"}}
              Period End Date:
            {{/if_equals}}
          </strong>
          <span class="date" data-date="{{subscription.current_period_end}}"></span>
        </div>
        <div class="card-text"><strong>Payment Method:</strong> {{card.brand}} ending in {{card.last4}}
          <a class="" href="/subscription/update-payment">Update payment method</a>
        </div>
        <!-- cancel subscription -->
        <form action="/subscription/cancel-subscription" class="mts text-center mbs" method="post">
          <input type="hidden" name="subscription" value="{{subscription.id}}">
          <button class="btn btn-danger" type="submit" name="button">Cancel Subscription</button>
        </form>
      </div>
    </div>
  {{else}}
    <p>You are currently not subscribed to a plan. Select a plan below.</p>
  {{/if}}

  <!-- list available plans -->
  <h5 class="mtm text-center">Plans</h5>
  {{#each plans}}
    <div class="row justify-content-center">
      <div class="card col col-lg-8 ms">

        <!-- subscription card for 'licensed' usage type -->
        {{#if_equals this.usage_type "licensed"}}
          <div class="card-body">
            <div class="row">
              <div class="col col-lg-8">
                <h5 class="card-title">{{this.nickname}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                   <span class="amount-usd bold" data-amount="{{this.amount}}"></span>
                   per {{this.interval}}
                </h6>
                <p class="card-text">Unlimited access</p>
              </div>
              <div class="col col-lg-4">

                <!-- new Checkout.js -->
                <!-- <button id="checkout-button" class="btn btn-primary btn-sm pull-right mts" role="link">Subscribe (Checkout)</button>
                <div id="error-message"></div> -->

                <!-- old Checkout -->
                {{#if_equals ../config.checkout "checkoutOld"}}
                  <form class="pull-right" action="/subscription/subscribe" method="POST">
                    <input type="hidden" name="plan" value="{{this.id}}">
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="{{stripePublishableKey}}"
                      data-name="{{this.nickname}}"
                      data-label="Subscribe"
                      data-panel-label="Pay ${{this.amount}} per {{this.interval}}"
                      data-description=""
                      data-locale="auto">
                    </script>
                  </form>
                {{/if_equals}}

                <!-- redirect to Subscribe w/Elements page -->
                {{#if_equals ../config.checkout "custom"}}
                  <a class="btn btn-primary btn-sm pull-right mts" href="/subscription/create-subscription/{{this.id}}">Subscribe</a>
                {{/if_equals}}
              </div>
            </div>
          </div>
        {{/if_equals}}

        <!-- subscription card for 'metered' usage type -->
        {{#if_equals this.usage_type "metered"}}
          <div class="card-body">
            <div class="row">
              <div class="col col-lg-8">
                <h5 class="card-title">{{this.nickname}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                   <span class="amount-usd bold" data-amount="{{this.amount}}"></span>
                   per unit
                </h6>
                <p class="card-text">Pay per unit used</p>
              </div>
              <div class="col col-lg-4">

                {{#if_equals ../config.checkout "checkoutOld"}}
                  <form class="pull-right" action="/subscription/subscribe" method="POST">
                    <input type="hidden" name="plan" value="{{this.id}}">
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="{{stripePublishableKey}}"
                      data-name="{{this.nickname}}"
                      data-label="Subscribe"
                      data-panel-label="Pay ${{this.amount}} per unit"
                      data-description=""
                      data-locale="auto">
                    </script>
                  </form>
                {{/if_equals}}

                <!-- old Checkout -->
                {{#if_equals ../config.checkout "custom"}}
                  <a class="btn btn-primary btn-sm pull-right mts" href="/subscription/create-subscription/{{this.id}}">Subscribe</a>
                {{/if_equals}}

              </div>

            </div>
          </div>
        {{/if_equals}}

      </div>
    </div>
  {{/each}}

  <!-- List previous purchases -->
  <h4 class="mtm text-center">Payment History</h4>
  <div class="row justify-content-center">
    <div class="col col-lg-8">
      <table class="table">
    		<thead>
    			<tr>
            <th scope="col">Payment Date</th>
            <th scope="col">Amount</th>
    				<th scope="col">Description</th>
    			</tr>
    		</thead>
    		<tbody id="cart-item">
    			{{#each invoices}}
    				<tr>
    					<td>
                <span class="date" data-date="{{this.created}}"></span>
              </td>
              <td>
                <span class="amount-usd" data-amount="{{this.amount}}"></span>
              </td>
    					<td>
                <a target="_blank" href="{{this.receipt_url}}">
                  {{this.description}}
                </a>
              </td>
    				</tr>
    			{{/each}}
    		</tbody>
    	</table>
    </div>
  </div>
</div>

<script>
  var stripe = Stripe('{{stripePublishableKey}}', {
    betas: ['checkout_beta_4']
  });

  var checkoutButton = document.getElementById('checkout-button');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{plan: 'plan_EdJHMnuhJWa4Jh', quantity: 1}],
      customerEmail: '{{user.username}}',
      successUrl: 'http://localhost:3000/subscription',
      cancelUrl: 'https://your-website.com/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>


{{/inline}}

{{/base}}
