{{#> base }}

{{#*inline "content-block"}}

<div class="mtm container">
  <h4 class="mtm">Subscription and payment</h4>
  <hr>

  {{#if subscription}}
    <div class="row justify-content-center">
      <div class="card col col-md-8 text-center">
        <h5 class="text-center mts">Your Plan</h5>

        <!-- plan description -->
        <div class="card-body">
          <h5 class="card-title">{{subscription.plan.nickname}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <span class="amount-usd" data-amount="{{subscription.plan.amount}}"></span>
            per {{subscription.plan.interval}}
          </h6>
          <div class="card-text">Your subscription will automatically renew on
            <span class="date" data-date="{{subscription.current_period_end}}"></span>
            and you will be charged
            <span class="amount-usd" data-amount="{{subscription.plan.amount}}"></span>
          </div>
          <p class="card-text">Subscription service started on
            <span class="date" data-date="{{subscription.start}}"></span>
          </p>

          <!-- payment method card -->
          <h6>Payment method</h6>
          <div class="row justify-content-center">
            <div class="col col-lg-4 payment-card">
              <div style="text-align: left;">{{card.brand}} ending in {{card.last4}}</div>
              <div style="font-size: 12px; text-align: left;" class="text-muted">Expires: {{card.exp_month}}/{{card.exp_year}}</div>
              <a class="btn btn-sm btn-success text-center mts" href="/subscription/update-payment">Update</a>
            </div>
          </div>

          <!-- cancel subscription -->
          <form action="/subscription/cancel-subscription" class="mts" method="post">
            <input type="hidden" name="subscription" value="{{subscription.id}}">
            <button class="btn btn-danger" type="submit" name="button">Cancel Subscription</button>
          </form>
        </div>
      </div>
    </div>
  {{else}}
    <p>You are currently not subscribed to a plan. Select a plan below.</p>
  {{/if}}

  <h5 class="mtm text-center">Plans</h5>
  {{#each plans}}
    <div class="row justify-content-center">
      <div class="card col col-lg-8 ms">

        <!-- subscription card for 'licensed' usage type -->
        {{#if_equals this.usage_type "licensed"}}
          <div class="card-body">
            <div class="row">
              <div class="col col-lg-8">
                <h5 class="card-title">{{this.nickname}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                   <span class="amount-usd" data-amount="{{this.amount}}"></span>
                   per {{this.interval}}
                </h6>
                <p class="card-text">Unlimited access</p>
              </div>
              <div class="col col-lg-4">

                <!-- new Checkout.js -->
                <button id="checkout-button" class="btn btn-primary btn-sm pull-right mts" role="link">Subscribe (Checkout)</button>
                <div id="error-message"></div>
                
                <form class="pull-right" action="/subscription/subscribe" method="POST">
                  <input type="hidden" name="plan" value="{{this.id}}">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_yFlF77AqfAveVhLfTtBCGRh3"
                    data-name="{{this.nickname}}"
                    data-label="Subscribe (Checkout)"
                    data-panel-label="Pay ${{this.amount}} per {{this.interval}}"
                    data-description=""
                    data-locale="auto">
                  </script>
                </form>
                <a class="btn btn-primary btn-sm pull-right mts" href="/subscribe/create-subscription/{{this.id}}">Subscribe (Custom)</a>
              </div>
            </div>
          </div>
        {{/if_equals}}

        <!-- subscription card for 'metered' usage type -->
        {{#if_equals this.usage_type "metered"}}
          <div class="card-body">
            <div class="row">
              <div class="col col-lg-8">
                <h5 class="card-title">{{this.nickname}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                   <span class="amount-usd" data-amount="{{this.amount}}"></span>
                   per unit
                </h6>
                <p class="card-text">Pay per unit used</p>
              </div>
              <div class="col col-lg-4">
                <form class="pull-right" action="/subscription/subscribe" method="POST">
                  <input type="hidden" name="plan" value="{{this.id}}">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_yFlF77AqfAveVhLfTtBCGRh3"
                    data-name="{{this.nickname}}"
                    data-label="Subscribe (Checkout)"
                    data-panel-label="Pay ${{this.amount}} per unit"
                    data-description=""
                    data-locale="auto">
                  </script>
                </form>
                <a class="btn btn-primary btn-sm pull-right mts" href="/subscribe/create-subscription/{{this.id}}">Subscribe (Custom)</a>
              </div>

            </div>
          </div>
        {{/if_equals}}

      </div>
    </div>
  {{/each}}

  <!-- List previous purchases -->
  <h4 class="mtm text-center">Payment History</h4>
  <div class="row justify-content-center">
    <div class="col col-lg-8">
      <table class="table">
    		<thead>
    			<tr>
            <th scope="col">Purchase Date</th>
            <th scope="col">Amount</th>
    				<th scope="col">Description</th>
    			</tr>
    		</thead>
    		<tbody id="cart-item">
    			{{#each invoices}}
    				<tr>
    					<td>
                <span class="date" data-date="{{this.created}}"></span>
              </td>
              <td>
                <span class="amount-usd" data-amount="{{this.amount}}"></span>
              </td>
    					<td>
                <a target="_blank" href="{{this.receipt_url}}">
                  {{this.description}}
                </a>
              </td>
    				</tr>
    			{{/each}}
    		</tbody>
    	</table>
    </div>
  </div>
</div>

<script>
  var stripe = Stripe('pk_test_yFlF77AqfAveVhLfTtBCGRh3', {
    betas: ['checkout_beta_4']
  });

  var checkoutButton = document.getElementById('checkout-button');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{plan: 'plan_EdJHMnuhJWa4Jh', quantity: 1}],
      customerEmail: '{{user.username}}',
      successUrl: 'http://localhost:3000/subscription',
      cancelUrl: 'https://your-website.com/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>


{{/inline}}

{{/base}}
